<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.mall.user.mapper.UserAccountMapper">

    <resultMap id="BaseResultMap" type="com.open.mall.user.domain.po.UserAccount">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
            <result property="points" column="points" jdbcType="INTEGER"/>
            <result property="balance" column="balance" jdbcType="DECIMAL"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,level,points,
        balance,created_at,updated_at
    </sql>
</mapper>
