<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.open.mall.auth.dao.mapper.RefreshTokenMapper">

    <resultMap id="BaseResultMap" type="com.open.mall.auth.domain.po.RefreshToken">
            <id property="tokenHash" column="token_hash" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="issuedAt" column="issued_at" jdbcType="TIMESTAMP"/>
            <result property="expiresAt" column="expires_at" jdbcType="TIMESTAMP"/>
            <result property="revoked" column="revoked" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        token_hash,user_id,ip_address,
        issued_at,expires_at,revoked
    </sql>
</mapper>
